#include <stdbool.h>
#include "core/core.h"
#include "ref_core/ref_core.h"
#include "common/esbmc_util.h"

#define MEM_SIZE   4
#define CYCLES     {{ cycles }}
#define REF_CYCLES {{ ref_cycles }}

#ifdef UNIT_TEST
#include "unit/test.h"
DEFINE_TEST({{ test_name }}) {
#else
int main() {
#endif
	mips_core_t     core;
	mips_ref_core_t ref_core;

	uint8_t instr_mem[{{instr_bytes | length}}];
{% for i in range(instr_bytes | length) %}
	instr_mem[{{i}}] = {{ instr_bytes[i] }};
{%- endfor %}

	uint8_t data_mem[MEM_SIZE];
	uint8_t ref_data_mem[MEM_SIZE];

	const bool delay_slots = nondet_bool();

	mips_config_t config = {
	    .delay_slots = delay_slots,
	    .instr_mem   = MAKE_SPAN(instr_mem),
	    .data_mem    = MAKE_SPAN(data_mem),
	};

	mips_config_t ref_config = {
	    .delay_slots = delay_slots,
	    .instr_mem   = MAKE_SPAN(instr_mem),
	    .data_mem    = MAKE_SPAN(ref_data_mem),
	};

	mips_core_init(&core, config);
	ref_core_init(&ref_core, ref_config);

	mips_retire_metadata_t retire = {0};
	for (size_t i = 0; i < CYCLES; i++) {
		retire = mips_core_cycle(&core);
		if (retire.exception.raised) { break; }
	}

	mips_retire_metadata_t ref_retire = {0};
	for (size_t i = 0; i < REF_CYCLES; i++) {
		ref_retire = ref_core_cycle(&ref_core);
		if (retire.instruction_number == ref_retire.instruction_number) { break; }
	}

	log_assert_eqi(retire.instruction_number, ref_retire.instruction_number);

{% for i in range(32) %}
	log_assert_eqi(core.state.gpr[{{i}}], ref_core.state.gpr[{{i}}]);
{%- endfor %}
}

